/*@import 'themeColors';*/
$themeColor-Light: #f3e2c7;
$themeColor-Dark:#b68d4c;
$theme-font:    verdana, sans-serif;

body {
  font: 100% $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}
//Mixins
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { @include transform(rotate(30deg)); }
